# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3ae9f6f82394a7126d64a1c313d75a2be49aac1e03cf08fd322bc868f0b22a254fe05b63aedbc80d6c00a648c88c8428d3619fb565d3eb0d23d413635fde12fa

test:
  secret_key_base: d4292b821afda3746033c8bfb172d6061a534b28aeb52649c95fa8b407fcf433d6206f8fdf5dd229789afbc317d54e708115324140b8c2280e87276a45f1b29d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
