<div id='content'>
    <div id='description'>
        <%= form_tag 'add_user' do %>
            <input type='text' helpText='Set Username' name='username'>
            <input type='password' helpText='Set Password', name='password'>
            <input type='password' helpText='Confirm Password', name='password_confirmation'>
        <% end %>
    </div>
</div>
